
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

:root{
    --background-color: #132985;
    --text-black: #1E1E1E;
    --modal-white: #F4F4F4;
    --textfield-bg: #ECECEC;
    --textfield-txt: #BFBFBF;
    --textfield-eyecolor: #7C7B7B;
    --success: #28B411;
    --success-btn:#369926;
    --datum-yellow: #F4901F;
}

.hwl_navs a[class='active']{    
    color: var(--background-color);
    background-color: var(--textfield-bg);
    padding: 1rem 0rem ;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    text-align: center;
    padding-left: 2rem;
    font-weight: 800;
}

.hwl_sidenavbar{      
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 2rem 2rem;
    color: var(--textfield-bg);
    background-color: var(--background-color) ;
}
.brand{
    width: 20%;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
.brand > span{
    color: var(--datum-yellow);
    font-size: 30PX;
}
.menu{
    display: none;
}
.hwl_navs > ul{
    width: 40%;
    position: fixed;
    background-color: var(--background-color);
    top: 5.8rem;
    left: 0;
    display: flex;
    padding: 2rem 0rem 0rem 2rem;
    flex-direction: column;
    bottom: 0;
}
nav ul li{
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 1.5rem 0rem;
}
nav ul li a{
    color: var(--modal-white);
    text-decoration: none;
    font-weight: 400;    
    gap: 0.3rem;
    display: flex;
    align-items: center;
}
nav ul li a > span{
    color: var(--datum-yellow);
    font-size: 18px;
}
nav ul li a:hover{
    color: var(--datum-yellow);
}


.portal_btn{
    border: 1px solid var(--datum-yellow);
    color: var(--modal-white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}



@media (max-width:667px){
    .hwl_navbar{  
        padding: 2rem;
        color: var(--textfield-bg);
    }
    .brand{
        width: 35%;
    }
    .hwl_navs > ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        gap: 2rem;
        left: 0;
        right: 0;
        width: 100%;
        bottom:0;
        align-items: center;
        padding: 1.5rem 0;
        background-color: var(--background-color);
    }
    
    .hwl_navs > ul.open{
        display: flex; 
        gap: 1.5rem;
    } 
    .menu{
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 1.6rem;
        width: 2.25rem;
        height: 2rem;
        color: var(--textfield-bg);
    }
}


