*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

:root{
    --background-color: #132985;
    --text-black: #1E1E1E;
    --modal-white: #F4F4F4;
    --textfield-bg: #ECECEC;
    --textfield-txt: #BFBFBF;
    --textfield-eyecolor: #7C7B7B;
    --success: #28B411;
    --success-btn:#369926;
    --datum-yellow: #F4901F;
}

.contact_container{
    padding: 4rem 6rem;
}

.contact_heading{
    margin: auto;
    text-align: center;
    width: 50%;
    margin-bottom: 3rem;
}
.contact_heading > h1{
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 30px;
    color: var(--textfield-bg);
    margin-top: -2rem;
}


.contact_content{
    display: grid;
    padding: 1rem 9rem;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}
.statement{
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    min-height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: var(--textfield-eyecolor);
    transition: ease-in 1s;
}
