
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

:root{
    --background-color: #132985;
    --text-black: #1E1E1E;
    --modal-white: #F4F4F4;
    --textfield-bg: #ECECEC;
    --textfield-txt: #BFBFBF;
    --textfield-eyecolor: #7C7B7B;
    --success: #28B411;
    --success-btn:#369926;
    --datum-yellow: #F4901F;
}

.hwl_navs a[class='active']{
    color: var(--datum-yellow);
}

.hwl_navbar{      
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 0.5rem 6rem;
    color: var(--textfield-bg);
    background-color: var(--background-color) ;
}
.brand{
    width: 12%;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
.brand > span{
    color: var(--datum-yellow);
}
.menu{
    display: none;
}
.hwl_navs{
    width: 50%;
}
.hwl_navs > ul{
    display: flex;    
    gap: 3rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: var(--modal-white);
    text-decoration: none;
    font-weight: 400;

}
nav ul li a:hover{
    color: var(--datum-yellow);
}
.portal_btn{
    border: 1px solid var(--datum-yellow);
    color: var(--modal-white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}



@media (max-width:667px){
    .hwl_navbar{  
        padding: 2rem;
        color: var(--textfield-bg);
    }
    .brand{
        width: 35%;
    }    
    .hwl_navs > ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        gap: 2rem;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        bottom:0;
        padding: 1.5rem 1rem;
        background-color: var(--background-color);
    }
    .hwl_navs ul li{
        display: grid;
        font-size: 20px;
        place-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .hwl_navs > ul.open{
        display: flex; 
        gap: 1.5rem;
    } 
    .menu{
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 1.6rem;
        width: 2.25rem;
        height: 2rem;
        color: var(--textfield-bg);
    }
}


